body {
  background: linear-gradient(to right, #1c92d2, #acb0b0);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  color: #333;
}

.container {
  width: 400px;
  background: linear-gradient(to right, #fff, #f2f2f2);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  margin: 0 0 20px;
  font-size: 24px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  font-size: 16px;
  background-color: #f2f2f2;
  color: #333;
}

button {
  background: linear-gradient(to right, #c61cd2, #3cb3d6);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background: linear-gradient(to right, #3cb3d6, #c61cd2);
}

.user-list {
  margin-top: 20px;
}

.user-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background: linear-gradient(to right, #f2f2f2, #c61cd2);
  border-radius: 4px;
  position: relative;
}

.user-item span {
  flex: 1;
  margin-right: 10px;
}

.user-item button {
  background-color: transparent;
  color: #777;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.user-item button:hover {
  color: #333;
}

.delete-button-container {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.delete-button-container button {
  margin-left: 10px;
}
